<template>
    <div>
        <div class="d-flex flex-row justify-content-between">
                <div class="p-2">{{ feed.title }} <a v-if="feed.link" :href="feed.link">(site)</a></div>
                <div v-if="feed.image" class="p-2">
                    <img :src="feed.image.url"/>
                </div>
        </div>        
        <div v-if="feed.description" class="d-flex flex-row">
                <div class="p-2">
                    {{ feed.description }}
                </div>
        </div>        
    </div>
</template>

<script>
    export default {
        name: "feedDetail",
        data: function() {
            return { feed: { title : 'Loading...' } };
        },
        props: [ 'address' ],
        mounted() {
                const Parser = require('rss-parser');
                const parser = new Parser();
                let self = this;
                parser.parseURL(self.address, function(error,feed){
                    if(error){
                        self.feed = { title: error };
                    }else{
                        self.feed = feed;
                    } 
                });
            }
    }
</script>


