<template>
    <div class="column">
        <div class="container" v-for="subscription in list">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header d-flex flex-row">
                        	<div class="p-2">
                        	<form :action="'/subscriptions/' + subscription.id" method="POST">
                                <input type="hidden" name="_method" value="DELETE"/>
                                <input type="hidden" name="_token" :value="csrf"/>
                        		<input type="submit" value="X"/>
                        	</form>
                        	</div>
                        	<div class="p-2">
                        	 <a :href="'/subscriptions/' + subscription.id">{{ subscription.address }} </a>
                        	</div>
                        </div>
                        <div class="card-body">
    						<feed-header :address="subscription.proxied_address"></feed-header>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <infinite-loading @infinite="infiniteHandler"></infinite-loading>     
    </div>

</template>

<script>
   export default {
       
        data() {
            return {
              list: [],
              page: 1,
            };
          },
        props: ['csrf'],
        
        methods: {
            infiniteHandler($state) {
     
            axios.get('/subscriptions/page',{
                            params: {
                                page: this.page,
                            },
                }).then(({ data }) => {

                    if (data.data.length){
                        this.page += 1;
                        this.list.push(...data.data);
                        $state.loaded();
                    } else {
                        $state.complete();
                    }
                });
            },
        },
    };

</script>
