<template>
    <div>
        <div class="d-flex flex-row justify-content-between">
                <div class="p-2">{{ feed.title }}</div>
                <div v-if="feed.image" class="p-2">
                    <img :src="feed.image.url"/>
                </div>
        </div>        
        <div v-if="feed.description" class="d-flex flex-row">
                <div class="p-2">
                    {{ feed.description }}
                </div>
        </div>     
        <div v-if="feed.items"  v-for="item in feed.items" class="d-flex flex-column">
            <div class="card">
                <div class="card-header">
                    <a :href="item.link">{{ item.title }}</a>
                </div>
                <div class="card-body" v-html="item.content">
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "feedHeader",
        data: function() {
            return { feed: { title : 'Loading...'} };
        },
        props: [ 'address' ],
        mounted() {

                const Parser = require('rss-parser');
                const parser = new Parser();
                let self = this;
                parser.parseURL(self.address, function(error,feed){
                    if(error){
                        self.feed = { title: error };
                    }else{
                        self.feed = feed;
                    } 
                });
            }
    }
</script>


